.newsletter {
  align-self: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
  padding: 16px 12px;
  align-items: center;

  @include mq(tablet) {
    padding: 16px 30px;
    margin: 0 5%;
    justify-content: space-between;
    flex-direction: row;
  }


  p {
    text-align: center;
    margin-bottom: 12px;

    @include mq(tablet) {
      margin: 0;
      font-weight: bold;
      text-align: inherit;
    }
  }

  .inputs {
    text-align: center;
    margin-bottom: 16px;
    width: 100%;

    @include mq(tablet) {
      width: 70%;
      margin: 0;
    }

    input {
      padding: 10px;
      color: #cccccc;
      width: calc(50% - 30px);

      @include mq(tablet) {
        margin: 0 10px;
        width: calc(50% - 60px);
      }
    }
  }

  .subscribe-button {
    background-color: #000000;
    text-align: center;
    padding: 15px;

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}