.post-text {
  background-color: white;
  padding-top: 40px;

  .post-content {
    p {
      margin-top: 24px;
    }
  }

  .postcard-block {
    border-radius: 3px;
    top: -14px;
    position: absolute;
    right: calc(50% - 14px);
    background: black;
    padding: 4px;
    display: flex;
  }

}

