.main-content{
  margin: 0 8px;
  //background-color: #cccccc;

  @include mq(desktop){
    width: calc(70% - 32px);
    float: left;
    //margin-left: 5%;
    margin-right: 16px;
  }
  
  @include mq(desktop){
    //margin: 0;
  }
}

main{
  margin-top: 32px;
}